<h1>Tag list</h1>

<div class="collection">
	<% ActsAsTaggableOn::Tag.all.each do |tag_item| %>
		<%= link_to "#{tag_item.name} (#{tag_item.taggings_count})", tag_path(tag_item.name), class: 'collection-item' %>
	<% end %>
</div>

<h2>Tag Cloud</h2>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag_item, css_class| %>
  <%= link_to "#{tag_item.name} (#{tag_item.taggings_count})", tag_path(tag_item.name), class: css_class + ' btn badge light-blue white-text' %>
  asdaksld
<% end %>